@import "src/assets/styles/theming";
:host {
    @include flexWrapper(column, center);
    gap: 25px;

    .add-hero-container, .add-skill-container {
        @include flexWrapper(row, center);
        width: 45vw;
        height: 40vh;
        background-color: $main-color;
    }
}
